<p>Access to Protected API with Access Token</p>

<div>access_token: <input type="text" name="response_type" value=<%=access_token%> /></div>
<div>username: <input type="text" name="username" value=<%=username%> /></div>
<div>token_type: <input type="text" name="token_type" value=<%=token_type%> /></div>

<br>
<div><a href="/api/userinfo?access_token=<%=access_token%>" target="_blank">Get User Info</a></div>
<div><a href="/api/clientinfo?access_token=<%=access_token%>" target="_blank">Get Clinet Info</a></div>